body {
  background-color: #ffffff;
  font-family: "Assistant", sans-serif;
}

/* .btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
} */

/* .btn-login:hover {
  background-color: #143c99;
  color: #ffffff;
} */

/* header {
  padding: 180px 0 165px;
  background-image: url("../img/header.jpg");
  background-size: cover;
  margin-top: -70px;
} */
/*
.router-link-exact-active {
  font-weight: bold;
}
*/
